body {
  font-family: sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#weaseal-title {
  padding: 1em 0;
  display: inline-block;
}

#weaseal-title h1 {
  margin: 0;
  font-size: 1.5em;
}

#links {
  display: inline;
  position: absolute;
  right: 0;
}

#copy-to-clipboard,
#bookmarklet-link,
#dev-link {
  display: inline-block;
  font-size: 1.2em;
}

.bookmarklet {
  color: #0055cc;
  font-weight: bold;
  padding: 0.2em 0;
  display: inline-block;
  transition: color 0.6s ease;
}

.bookmarklet:hover {
  color: #003399;
}


#build-indicator,
#error {
  position: absolute;
  top: 0.5em;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 10;
  border-radius: 0 0 0.5em 0.5em;
}

#error {
  color: red;
  border: 1px solid red;
  border-top: none;
}

#editor-container {
  height: 70vh;
}

#editor {
  height: 100%;
  width: 100%;
}

.CodeMirror {
  height: 100% !important;
  width: 100%;
  box-sizing: border-box;
}
