body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#editor {
  border: 1px solid black;
  padding: 0.2em;
  width: 70%;
  height: 100vh;
  float: left;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 14px;
  padding: 1em;
}

#weaseal-title {
  float: right;
  width: 30%;
  text-align: center;
  padding: 1em 0;
}

#weaseal-title h1 {
  margin: 0;
  font-size: 1.5em;
}

#links,
#copy-button,
#copy-status {
  float: right;
  width: 30%;
  text-align: center;
  padding: 1em 0;
  clear: both;
}

#bookmarklet-link,
#dev-link {
  display: block;
  margin: 1em auto;
  font-size: 1.2em;
}

#build-indicator,
#error {
  position: absolute;
  top: 0.5em;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 10;
}
